body {
}
#skalet{
    background-color: white;
    border: 3px solid black;
    width: 400px;
    height: 800px;
    border-radius: 10%;
}
#kamera{
    border:1px solid #808080;
    width:20px;
    height:20px;
    border-radius:90%;
    position:relative;
    left:47%;
    top:5%;
    background-color:black;
}
#diod{
    border:3px solid #3f3f3f;
    width: 6px;
    height:5px;
    border-radius:90%;
    position:relative;
    left:37%;
    top:7%;
    background-color: #3f3f3f;
}
#högtalare{
    border: 1px solid #3f3f3f;
    width: 55px;
    height:5px;
    position:relative;
    left:43%;
    top:6%;
    border-radius:15%;
    background-color: #3f3f3f;
}
#skärm{
    background-color:white;
    border:1px solid black;
    width: 388px;
    height:620px;
    border-radius:6%;
    position:relative;
    left:5%;
    top: 9%;
}
#knapp{
    background-color:white;
    border:2px solid black;
    width:30px;
    height:50px;
    border-radius:80%;
    position:relative;
    left:50%;
    top:12%;
}
#ringeniknappen{
        background-color:white;
    border:2px solid black;
    width:10px;
    height:10px;
    border-radius:300%;
    position:relative;
    left:20%;
    top:20%;
}
#knappv{
    position:relative;
    top:10px;
    right:76px;

}
#knappv div {
    background-color: white;
    border:3px solid #808080;
    width: 70px;
    height:60px;
    border-radius:20%;
    position: relative;
    left: 30%;
    margin-bottom:15px;
    margin-right: 6px;
    top: 18px;
}
#knapparmv div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position:relative;
    left:15%;
    margin-bottom:15px;
    margin-right:10px;
    top:190px;

}
#knapparmv {
    position:relative;
    bottom:670px;
    left:40px;

}
#knapparmh div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position: center;
    left:30%;
    margin-bottom:20px;
    margin-right:8px;
    top:10px;

}
#knapparmh {
    position:relative;
    bottom:970px;
    left:200px;

}
#knapparh div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position: center;
    left:30%;
    margin-bottom:20px;
    margin-right:8px;
    top:10px;

}
#knapparh {
    position:relative;
    bottom:1400px;
    left:280px;

}
#knapparln div{
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:30%;
    position:relative;
    left:40px;
    bottom:130px;
    margin-bottom: 7px;
    margin-right:18px;
    float:left;
}

