body {
}
#skalet{
    background-color: white;
    border: 3px solid black;
    width: 440px;
    height: 800px;
    border-radius: 10%;
}
#kamera{
    border:1px solid #524c4c;
    width:20px;
    height:20px;
    border-radius:90%;
    position:relative;
    left:47%;
    top:5%;
    background-color:black;
}
#diod{
    border:3px solid #3f3f3f;
    width: 5px;
    height:5px;
    border-radius:90%;
    position:relative;
    left:37%;
    top:7%;
    background-color: #3f3f3f;
}
#högtalare{
    border: 1px solid #3f3f3f;
    width: 55px;
    height:5px;
    position:relative;
    left:43%;
    top:6%;
    border-radius:15%;
    background-color: #3f3f3f;
}
#skärm{
    background-color:grey;
    border:1px solid black;
    width: 388px;
    height:620px;
    border-radius:6%;
    position:relative;
    left:5%;
    top: 9%;
}
#knapp{
    background-color:white;
    border:2px solid black;
    width:39px;
    height:40px;
    border-radius:80%;
    position:relative;
    left:44%;
    top:11%;
}
#ringeniknappen{
        background-color:white;
    border:5px solid black;
    width:12px;
    height:12px;
    border-radius:30%;
    position:relative;
    left:20%;
    top:22%;
}
#knapparv{
    position:relative;
    top:10px;
    right:65px;

}
#knapparv div {
    background-color: white;
    border:3px solid #808080;
    width: 70px;
    height:60px;
    border-radius:20%;
    position: relative;
    left: 20%;
    margin-bottom:20px;
    margin-right: 8px;
    top: 18px;
}
#knapparmv div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position:relative;
    left:15%;
    margin-bottom:20px;
    margin-right:8px;
    top:200px;

}
#knapparmv {
    position:relative;
    bottom:688px;
    left:50px;

}
#knapparmh div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position: center;
    left:40%;
    margin-bottom:20px;
    margin-right:8px;
    top:10px;

}
#knapparmh {
    position:relative;
    bottom:1003px;
    left:205px;

}
#knapparh div{
    background-color: white;
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position: center;
    left:40%;
    margin-bottom:20px;
    margin-right:8px;
    top:10px;

}
#knapparh {
    position:relative;
    bottom:1519px;
    left:300px;

}
#knapparln div{
    border: 3px solid #808080;
    width:70px;
    height:60px;
    border-radius:20%;
    position:relative;
    left:38px;
    bottom:155px;
    margin-bottom: 7px;
    margin-right:21px;
    float:left;
}
#appln1{
    background-color:green;
}
#appln2{
    background-color:yellow;
}
#appln3{
    background-color:blue;
}
#appln4{
    background-color:red;
}

