body {
    background-color: floralwhite;
    background-image: url('../Image/kuramathi-island.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: floralwhite;
    text-shadow: 1px 0px 20px #ff6a00;
}

ul {
    list-style-type: none;
}


h1 {
    font-family: 'Baskerville Old Face';
    font-weight: 300;
    color: floralwhite;
    margin-left: 110px;
    font-size: 50px;
    text-shadow: 5px 10px 20px #00ffff;
}

.cp {
     font-family: 'Baskerville Old Face';
    color: floralwhite;
    font-size: 42px;
    text-shadow: 5px 10px 20px #00ffff;
}

.nav li a:hover {
    text-shadow: 1px 0px 20px #ff6a00;
}



.box {
    display: none;
    height: 25px;
    left: 200px;
    width: 187px;
}

.happy img {
    width: 35px;
    height: 40px;
    float: right;
}


.good img {
    width: 35px;
    height: 40px;
    float: right;
}


.sad img {
    width: 35px;
    height: 40px;
    float: right;
}

label
     {
    font-family: 'Baskerville Old Face';
    color: floralwhite;
    font-size: 22px;
    text-shadow: 5px 10px 20px #00ffff;
}

