body {
  background-color:#4cff00;
}
.top{
    background-color:blue;
}

.top .navbar-brand{
    background-color:darkseagreen;
    height:40px;
    text-align:center;
}
.top .container{
    padding:1px;
}

.banner{
    background-color:rgba(40, 209, 235, 0.88)
}

.banner .container {
    background-color:rgba(0, 255, 255, 0.16);
    height:400px;
    padding: 40px 30px 30px 40px;
}

.middle{
    background-color: aqua;
    width:500px;
    height:800px;
}

.middle .container{
    background-color:darkcyan;
    min-height:320px;
    padding-bottom:20px;
}
.navbar-nav li a{
    color:deepskyblue;
    font-family:'Agency FB';
}
.navbar-nav li a:hover{
    background-color:deeppink;
}


.bottom{
    background-color:darkgoldenrod;
}

.bottom .container{
    background-color:rgba(40, 209, 235, 0.48);
    min-height: 160px;
}

.navbar-toggle:hover{
    background-color:gold;
}

.navbar-nav{
    margin:0;
}
.content p{
    line-height:30px;
    font-size:18px;
}

.bookhotel{
    text-align:center;
}
